

    <% include partials/header %>
    <h1>Add Customer</h1>
    <!-- <% if (errors) { %>
        <% errors.forEach(function(errors){ %>
            <li><%= errors.msg %></li>
       <% }) %>
    <% } %> -->
    <form name="form1" method="POST" action="users/add">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="age" placeholder="Age">
        <input type="submit" value="Submit">
    </form>
    <h1><%= title %></h1>
    <% users.forEach(function(users){ %>
        <li><%= users.name %><%= users.age %></li>
   <% }) %>
    <% include partials/footer %>
    